h1 {
    color: green;
    font-size: 40px;
    text-align: center;
}


li {
    color: darkblue;
    font-size: 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}